<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>

<!--<form #userlogin="ngForm"(ngSubmit)="onClickSubmit(userlogin.value)">
  <input type="text" name="emailid"  placeholder="Email id" ngModel>
  <br>
  <input type="password" name="passwd" placeholder="password" ngModel>
  <br>
  <input type="submit" value="submit">
</form>-->
<form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
  <input type="text" class="fortextbox" name="emailid" placeholder="emailid"
         formControlName="emailid">
  <br/>

  <input type="password" class="fortextbox" name="passwd"
         placeholder="passwd" formControlName="passwd">
  <br/>

  <input type="submit" class="forsubmit" value="Log In">
</form>
<p>
  email is:{{email}}
</p>
